h1, h3 {
text-align: center;
}

.top-title {
    position: relative;
    top: 5rem;
}

form {
    width: 50%;
    margin: 0 auto;
}

.button-primary {
    margin: 3rem 0 0 0;
}

.loading {
    width: 100%;
    text-align: center;
}

.loading img {
    height: 3.5rem;
}

.deleteBtn {
 background-color: red;
 color: white;
 border: 1px solid red
}

.deleteBtn:hover {
    background-color: rgb(206, 0, 0);
    border-color:  rgb(206, 0, 0);
    color: white;
}

.soldBtn {
    background-color: #33C3F0;
    border-color: #33C3F0;
    color: white;
}

.soldBtn:hover {
    color: white;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}


nav {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    z-index: 10;
    margin: -2rem;
    padding: 1rem;


}

nav .nav {
    display: inline-block;
    margin: 0.5rem 1rem;
    background-color: white;
    /* align-items: center; */
}

.negative {
    color: red;
}

